<!-- AURA CONFIG -->
<header class="aura">
  <div class="content">{{localize "BABONUS.HEADERS.AURA"}}</div>
  <input type="checkbox" data-tooltip="{{{localize 'BABONUS.TITLES.AURA_ENABLED'}}}" name="aura.enabled">
</header>

<div class="aura">
</div>
