<!-- FILTER A BONUS -->
<header class="filter">
  <div class="content">{{localize "BABONUS.HEADERS.FILTERS"}}</div>
  <a data-type="add-filter" data-tooltip="{{{localize 'BABONUS.TITLES.ADD_FILTER'}}}"><i class="fa-solid fa-plus"></i></a>
</header>

<div class="filters">
</div>
