<div class="select-target">
  <a data-type="attack"><i class="fa-solid fa-hand-fist"></i> Attack Rolls</a>
  <a data-type="damage"><i class="fa-solid fa-burst"></i> Damage Rolls</a>
  <a data-type="save"><i class="fa-solid fa-hand-sparkles"></i> Save DCs</a>
  <a data-type="throw"><i class="fa-solid fa-person-falling-burst"></i> Saving Throws</a>
  <a data-type="hitdie"><i class="fa-solid fa-heart-pulse"></i> Hit Die Rolls</a>
</div>
