<div class="utils">
  <div class="notification warning" id="babonus-warning"></div>
  <div class="save-button">
    <button data-type="save-button" type="submit">
      <i class="fa-solid fa-floppy-disk"></i> {{localize "BABONUS.BUTTONS.SAVE"}}
    </button>
  </div>
</div>
