<!-- (itemRequirements only) -->
<div class="form-group" data-name="{{name}}">
  <label data-tooltip="BABONUS.TOOLTIPS.itemRequirements" class="label">
    {{localize "BABONUS.LABELS.itemRequirements"}}
  </label>
  <div class="form-fields">
    <span class="sep">{{localize "DND5E.Equipped"}}</span>
    <input type="checkbox" data-tooltip="BABONUS.TOOLTIPS.itemEquipped" name="filters.itemRequirements.equipped" {{#unless canEquip}}disabled{{/unless}}>
    <span class="sep">{{localize "DND5E.Attuned"}}</span>
    <input type="checkbox" data-tooltip="BABONUS.TOOLTIPS.itemAttuned" name="filters.itemRequirements.attuned" {{#unless canAttune}}disabled{{/unless}}>
  </div>
  <a class="filter-deletion" data-tooltip="BABONUS.TOOLTIPS.DELETE_THIS_FILTER">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
