<!--
  REQUIRE ATTUNEMENT/EQUIPPED: only valid if Document is an Item and can be equipped or attuned to.
-->
{{#if (and isItem (or canEquip canAttune) )}}
<div class="form-group">
  <label data-tooltip="{{{localize 'BABONUS.TITLES.ITEM_SPECIFIC'}}}" class="label">
    {{localize "BABONUS.LABELS.ITEM_SPECIFIC"}}
  </label>
  <div class="form-fields">
    {{#if canEquip}}
    <span class="sep">{{localize "BABONUS.LABELS.EQUIPPED"}}</span>
    <input type="checkbox" name="itemRequirements.equipped">
    {{/if}}
    {{#if canAttune}}
    <span class="sep">{{localize "BABONUS.LABELS.ATTUNED"}}</span>
    <input type="checkbox" name="itemRequirements.attuned">
    {{/if}}
  </div>
</div>
{{/if}}