<div class="form-group" data-name="{{name}}">
  <label data-tooltip="{{tooltip}}" class="label">
    {{localize label}}
  </label>
  <div class="form-fields">
    <textarea name="filters.{{name}}"></textarea>
  </div>
  <a class="filter-deletion" data-tooltip="BABONUS.TOOLTIPS.DELETE_THIS_FILTER">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
