<!--
  CRITICAL RANGE BONUS: only valid if 'attack'.
  FUMBLE RANGE BONUS: only valid if 'attack'.
  CRITICAL DICE: only valid if 'damage'.
  CRITICAL DAMAGE: only valid if 'damage'.
  DEATH TARGET: only valid if THROW TYPES includes 'death'.
-->
<div class="form-group">
  <label data-tooltip="{{{localize 'BABONUS.TITLES.CRIT_BONUS_DICE'}}}" class="label">
    {{localize "BABONUS.LABELS.CRIT_BONUS_DICE"}}
  </label>
  <div class="form-fields">
    <input type="text" name="values.criticalBonusDice">
  </div>
</div>
