.babonus h1 {
  text-align: center;
  font-size: 40px;
  border-bottom: none;
}

.babonus .components {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-around;
}

.babonus .components .builder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Headers */
.babonus .components header {
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 0.5em;
  border-radius: 2px;
}

.babonus .builder .label {
  flex: 1;
  font-weight: bolder;
}

.babonus .current .current-bonuses {
  overflow-y: auto;
  max-height: 600px;
  height: 600px;
}

.babonus .current .current-bonuses .bonus:first-child {
  margin-top: 1em;
}

.babonus .current .current-bonuses .bonus .header {
  display: grid;
  grid-template-columns: 75% 25%;
}

.babonus .current .current-bonuses .bonus .header .label {
  flex: 2;
  align-self: flex-start;
  text-align: center;
  line-height: normal;
  font-size: 18px;
}

.babonus .current .current-bonuses .bonus .header .label.disabled {
  text-decoration: line-through;
}

.babonus .current .current-bonuses .bonus .header .details {
  text-align: center;
}

.babonus .current .current-bonuses .bonus .header .details .identifier {
  font-style: italic;
  color: gray;
}






.babonus .bonus .description {
  font-style: italic;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: rgba(181, 179, 164, 0.5);
}

.babonus .babonus-filters .babonus-select {
  flex: 0;
  min-width: fit-content;
}

button.babonus-keys {
  min-width: 100px;
  flex: 0;
}

.babonus-checkbox {
  border-radius: 10px;
  min-width: fit-content;
  background-color: cadetblue;
  padding: 3px 5px 3px 5px;
  margin: 0 3px 0 0;
}

.babonus-checkbox:last-child {
  margin-right: 3px;
}

.babonus .components .builder .warning.active {
  display: inline-block;
  width: 100%;
  color: red;
  font-style: italic;
  background-color: yellow;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  font-size: 1.25em;
  box-shadow: inset 0 0 5px black;
  margin-bottom: 0.5em;
}

/* center all table columns that are not first (i.e., all columns with a checkbox) */
table.babonus td:not(:first-child) {
  text-align: center;
}

form.babonus.editMode [name='identifier'],
form.babonus.editMode [name='label'],
form.babonus.editMode [name='target'] {
  pointer-events: none;
  color: #AAA;
}

form.babonus:not(.weapon) .hide-weapon,
form.babonus:not(.spell) .hide-spell,
form.babonus:not(.damage) .hide-damage,
form.babonus:not(.attack) .hide-attack,
form.babonus:not(.save) .hide-save,
form.babonus:not(.throw) .hide-throw,
form.babonus:not(.check) .hide-check,
form.babonus:not(.hitdie) .hide-hitdie,
form.babonus:not(.init) .hide-init,
form.babonus:not(.attack, .damage, .save) .hide-attack-damage-save,
.current-bonuses .bonus:last-child hr,
.babonus .components .builder .warning {
  display: none;
}

/* buttons */
form.babonus .current .details a {
  text-align: end;
  width: fit-content;
  max-width: fit-content;
  padding: 3px;
}
