form.babonus h1 {
  text-align: center;
  font-size: 40px;
  border-bottom: none;
}

/* Headers */
form.babonus header {
  height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  line-height: 26px;
}

form.babonus .title {
  padding: 0 0 0 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.build-a-bonus .babonus-required-fields label.babonus-label {
  flex: 1;
  font-weight: bolder;
}

.build-a-bonus .babonus-filters label.babonus-label-m {
  flex: 1;
}

.current-bonuses {
  overflow-y: scroll;
  max-height: 300px;
  margin-top: 0.5em;
}

.babonus .current-bonuses .babonus-bonus-details .functions {
  max-width: fit-content;
  margin-right: 1em;
}

.current-bonuses .form-group label.babonus-label {
  flex: 2;
  align-self: flex-start;
  text-align: center;
  line-height: normal;
  font-size: 18px;
}

.current-bonuses .form-group label.babonus-label.disabled {
  text-decoration: line-through;
}

.babonus-identifier {
  font-style: italic;
  color: gray;
}

.babonus-description {
  font-style: italic;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: rgba(181, 179, 164, 0.5);
}

.babonus .babonus-filters .babonus-select {
  flex: 0;
  min-width: fit-content;
}

button.babonus-keys {
  min-width: 100px;
  flex: 0;
}

.babonus-checkbox {
  border-radius: 10px;
  min-width: fit-content;
  background-color: cadetblue;
  padding: 3px 5px 3px 5px;
  margin: 0 3px 0 0;
}

.babonus-checkbox:last-child {
  margin-right: 3px;
}

.babonus-warning.active {
  display: block;
  color: red;
  font-style: italic;
  background-color: yellow;
  text-align: center;
  height: 40px;
  padding: 9px 0 0 0;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px black;
}

/* center all table columns that are not first (i.e., all columns with a checkbox) */
table.babonus td:not(:first-child) {
  text-align: center;
}

form.babonus.editMode [name='identifier'],
form.babonus.editMode [name='label'],
form.babonus.editMode [name='target'] {
  pointer-events: none;
  color: #AAA;
}

form.babonus.weapon .form-group.baseWeapons,
form.babonus.weapon .form-group.weaponProperties,
form.babonus.spell .form-group.spellComponents,
form.babonus.spell .form-group.spellLevels,
form.babonus.spell .form-group.spellSchools,
form.babonus.attack div.form-group.attackTypes,
form.babonus.save div.form-group.saveAbilities {
  display: flex;
}

form.babonus .form-group.baseWeapons,
form.babonus .form-group.weaponProperties,
form.babonus .form-group.spellComponents,
form.babonus .form-group.spellLevels,
form.babonus .form-group.spellSchools,
form.babonus div.babonus-bonuses-damage,
form.babonus div.babonus-bonuses-attack,
form.babonus div.form-group.attackTypes,
form.babonus div.babonus-bonuses-save,
form.babonus div.form-group.saveAbilities,
.current-bonuses hr:last-child,
.babonus-warning {
  display: none;
}

/* hide/unhide bonuses inputs */
form.babonus.damage div.babonus-bonuses-damage,
form.babonus.attack div.babonus-bonuses-attack,
form.babonus.save div.babonus-bonuses-save {
  display: block;
}

/* buttons */
form.babonus .babonus-bonus-details a {
  text-align: end;
  width: fit-content;
  max-width: fit-content;
  padding: 3px;
}
