<form class="babonus">
  <h1>{{localize "BABONUS.HEADERS.BUILD_A_BONUS"}}</h1>

  <div class="components">

    <div class="builder">
      <!-- BUILD-A-BONUS -->
      <div class="inputs">

        <!-- REQUIRED FIELDS -->
        <header class="required">{{localize "BABONUS.HEADERS.REQUIRED_FIELDS"}}</header>
        <div class="babonus-required-fields">

          <!-- Identifiers: label and id -->
          <div class="form-group">
            <label title="{{localize 'BABONUS.TITLES.IDENTIFIERS'}}" class="label">
              {{localize "BABONUS.LABELS.IDENTIFIERS"}}
            </label>
            <div class="form-fields">
              <span class="sep babonus-sep">{{localize "BABONUS.LABELS.ID_LABEL"}}</span>
              <input type="text" name="label" placeholder="{{localize 'BABONUS.VALUES.PH_LABEL'}}">
              <span class="sep babonus-sep">{{localize "BABONUS.LABELS.ID_IDENTIFIER"}}</span>
              <input type="text" name="identifier" placeholder="{{localize 'BABONUS.VALUES.PH_ID'}}">
            </div>
          </div>
          <!-- bonus type to apply to: attack, damage, save, throw, hitdie -->
          <div class="form-group">
            <label title="{{localize 'BABONUS.TITLES.TARGETS'}}" class="label">
              {{localize "BABONUS.LABELS.TARGETS"}}
            </label>
            <div class="form-fields">
              <select name="target">
                <option value="">&mdash;</option>
                {{#each targets as |type|}}
                <option value="{{type.value}}">{{type.label}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <!-- primary bonus field -->
          <div class="form-group hide-any">
            <label title="{{localize 'BABONUS.TITLES.ATTACK_BONUS'}}" class="hide-attack label">
              {{localize "BABONUS.LABELS.BONUS"}}
            </label>
            <label title="{{localize 'BABONUS.TITLES.SAVE_BONUS'}}" class="hide-save label">
              {{localize "BABONUS.LABELS.BONUS"}}
            </label>
            <label title="{{localize 'BABONUS.TITLES.DAMAGE_BONUS'}}" class="hide-damage label">
              {{localize "BABONUS.LABELS.BONUS"}}
            </label>
            <label title="{{localize 'BABONUS.TITLES.THROW_BONUS'}}" class="hide-throw label">
              {{localize "BABONUS.LABELS.BONUS"}}
            </label>
            <label title="{{localize 'BABONUS.TITLES.HITDIE_BONUS'}}" class="hide-hitdie label">
              {{localize "BABONUS.LABELS.BONUS"}}
            </label>
            <div class="form-fields">
              <input type="text" name="values.bonus">
            </div>
          </div>
          <!-- damage-only bonuses -->
          <div class="hide-damage">
            <div class="form-group bonus-type-damage-critical">
              <label title="{{localize 'BABONUS.TITLES.DAMAGE_CRIT'}}" class="label">
                {{localize "BABONUS.LABELS.CRIT_BONUS"}}
              </label>
              <div class="form-fields">
                <span class="sep babonus-sep">{{localize "BABONUS.LABELS.CRIT_BONUS_DICE"}}</span>
                <input type="text" name="values.criticalBonusDice">
                <span class="sep babonus-sep">{{localize "BABONUS.LABELS.CRIT_BONUS_DAMAGE"}}</span>
                <input type="text" name="values.criticalBonusDamage">
              </div>
            </div>
          </div>
          <!-- description -->
          <div class="form-group">
            <label title="{{localize 'BABONUS.TITLES.DESCRIPTION'}}" class="label">
              {{localize "BABONUS.LABELS.DESCRIPTION"}}
            </label>
            <div class="form-fields">
              <input type="text" name="description" placeholder="{{localize 'BABONUS.VALUES.PH_DESCRIPTION'}}">
            </div>
          </div>

          <!-- REQUIRED: only if attack/damage/save -->
          <div class="hide-attack-damage-save">
            <div class="form-group">
              <label title="{{localize 'BABONUS.TITLES.ITEM_TYPES'}}" class="label">
                {{localize "BABONUS.LABELS.ITEM_TYPES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="itemTypes">
                <button class="babonus-keys" data-type="itemTypes">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>
          <!-- REQUIRED: only if throw -->
          <div class="hide-throw">
            <div class="form-group throwTypes">
              <label title="{{localize 'BABONUS.TITLES.THROW_TYPES'}}" class="label">
                {{localize "BABONUS.LABELS.THROW_TYPES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="throwTypes">
                <button class="babonus-keys" data-type="throwTypes">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <!-- ITEM-SPECIFIC FIELDS -->
          {{#if (and isItem (or canEquip canAttune) )}}
          <div class="form-group item-specific">
            <label title="{{localize 'BABONUS.TITLES.ITEM_SPECIFIC'}}" class="label">
              {{localize "BABONUS.LABELS.ITEM_SPECIFIC"}}
            </label>
            <div class="form-fields">
              {{#if canEquip}}
              <span class="sep babonus-sep">{{localize "BABONUS.LABELS.EQUIPPED"}}</span>
              <input type="checkbox" name="itemRequirements.equipped">
              {{/if}}
              {{#if canAttune}}
              <span class="sep babonus-sep">{{localize "BABONUS.LABELS.ATTUNED"}}</span>
              <input type="checkbox" name="itemRequirements.attuned">
              {{/if}}
            </div>
          </div>
          {{/if}}
        </div>

        <!-- FILTER A BONUS -->
        <header class="filter">{{localize "BABONUS.HEADERS.FILTERS"}}</header>
        <div class="babonus-filters">

          <div class="hide-attack-damage-save">
            <div class="form-group damageTypes">
              <label title="{{localize 'BABONUS.TITLES.DAMAGE_TYPES'}}" class="label">
                {{localize "BABONUS.LABELS.DAMAGE_TYPES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.damageTypes">
                <button class="babonus-keys" data-type="damageTypes">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <div class="hide-attack-damage-save">
            <div class="form-group abilities">
              <label title="{{localize 'BABONUS.TITLES.ABILITIES'}}" class="label">
                {{localize "BABONUS.LABELS.ABILITIES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.abilities">
                <button class="babonus-keys" data-type="abilities">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <div class="form-group arbitraryComparison">
            <label class="label" title="{{localize 'BABONUS.TITLES.ARBITRARY_COMPARISON'}}">
              {{localize "BABONUS.LABELS.ARBITRARY_COMPARISON"}}
            </label>
            <div class="form-fields">
              <input type="text" name="filters.arbitraryComparison.one"
                placeholder="{{localize 'BABONUS.VALUES.ARBITRARY_COMPARISON_ONE'}}">
              <select name="filters.arbitraryComparison.operator" class="babonus-select">
                <option value="EQ">=</option>
                <option value="LT">&lt;</option>
                <option value="GT">&gt;</option>
                <option value="LE">&le;</option>
                <option value="GE">&ge;</option>
              </select>
              <input type="text" name="filters.arbitraryComparison.other"
                placeholder="{{localize 'BABONUS.VALUES.ARBITRARY_COMPARISON_OTHER'}}">
            </div>
          </div>

          <div class="form-group statusEffects">
            <label title="{{localize 'BABONUS.TITLES.ACTOR_CONDITIONS'}}" class="label">
              {{localize "BABONUS.LABELS.ACTOR_CONDITIONS"}}
            </label>
            <div class="form-fields">
              <input type="text" name="filters.statusEffects">
              <button class="babonus-keys" data-type="statusEffects">
                <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
              </button>
            </div>
          </div>

          <div class="form-group targetEffects">
            <label title="{{localize 'BABONUS.TITLES.TARGET_CONDITIONS'}}" class="label">
              {{localize "BABONUS.LABELS.TARGET_CONDITIONS"}}
            </label>
            <div class="form-fields">
              <input type="text" name="filters.targetEffects">
              <button class="babonus-keys" data-type="targetEffects">
                <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
              </button>
            </div>
          </div>

          <!-- only if 'attack' -->
          <div class="hide-attack">
            <div class="form-group attackTypes">
              <label title="{{localize 'BABONUS.TITLES.ATTACK_TYPES'}}" class="label">
                {{localize "BABONUS.LABELS.ATTACK_TYPES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.attackTypes">
                <button class="babonus-keys" data-type="attackTypes">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <!-- only if 'save' -->
          <div class="hide-save">
            <div class="form-group saveAbilities">
              <label title="{{localize 'BABONUS.TITLES.SAVE_ABILITIES'}}" class="label">
                {{localize "BABONUS.LABELS.SAVE_ABILITIES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.saveAbilities">
                <button class="babonus-keys" data-type="saveAbilities">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <!-- spells only -->
          <div class="hide-spell">
            <div class="form-group spellComponents">
              <label title="{{localize 'BABONUS.TITLES.SPELL_COMPONENTS'}}" class="label">
                {{localize "BABONUS.LABELS.COMPONENTS"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.spellComponents.types">
                <select name="filters.spellComponents.match" class="babonus-select">
                  <option value="ANY">{{localize "BABONUS.VALUES.MATCH_ANY"}}</option>
                  <option value="ALL">{{localize "BABONUS.VALUES.MATCH_ALL"}}</option>
                </select>
                <button class="babonus-keys" data-type="spellComponents">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
            <div class="form-group spellLevels">
              <label title="{{localize 'BABONUS.TITLES.SPELL_LEVELS'}}" class="label">
                {{localize "BABONUS.LABELS.SPELL_LEVELS"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.spellLevels">
                <button class="babonus-keys" data-type="spellLevels">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
            <div class="form-group spellSchools">
              <label title="{{localize 'BABONUS.TITLES.SPELL_SCHOOLS'}}" class="label">
                {{localize "BABONUS.LABELS.SPELL_SCHOOLS"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.spellSchools">
                <button class="babonus-keys" data-type="spellSchools">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

          <!-- weapons only -->
          <div class="hide-weapon">
            <div class="form-group baseWeapons">
              <label title="{{localize 'BABONUS.TITLES.WEAPON_TYPES'}}" class="label">
                {{localize "BABONUS.LABELS.WEAPONS"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.baseWeapons">
                <button class="babonus-keys" data-type="baseWeapons">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
            <div class="form-group weaponProperties">
              <label title="{{localize 'BABONUS.TITLES.WEAPON_PROPERTIES'}}" class="label">
                {{localize "BABONUS.LABELS.PROPERTIES"}}
              </label>
              <div class="form-fields">
                <input type="text" name="filters.weaponProperties.needed">
                <input type="text" name="filters.weaponProperties.unfit">
                <button class="babonus-keys" data-type="weaponProperties">
                  <i class="fas fa-key"></i> {{localize "BABONUS.BUTTONS.KEYS"}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="utils">
        <!-- WARN ABOUT A BONUS -->
        <div class="warning" id="babonus-warning"></div>

        <!-- SAVE A BONUS -->
        <div class="save-button">
          <button data-type="save-button">
            <i class="fas fa-save"></i> {{localize "BABONUS.BUTTONS.SAVE"}}
          </button>
        </div>
      </div>
    </div>

    <div class="current">

      <!-- CURRENT BONUSES -->
      <header class="current">{{localize "BABONUS.HEADERS.CURRENT_BONUSES"}}</header>

      <div class="current-bonuses">
        {{#each bonuses as |bonus|}}
        <div class="bonus" data-id="{{bonus.type}}.{{bonus.identifier}}">
          <div class="header">
            {{#if bonus.enabled}}
            <div class="label">{{bonus.label}}</div>
            {{else}}
            <div class="label disabled">{{bonus.label}}</div>
            {{/if}}
            <div class="details">
              <div class="functions">
                <a data-type="toggle" title="{{localize 'BABONUS.TITLES.TOGGLE_THIS'}}">
                  {{#if bonus.enabled}} <i class="fas fa-toggle-on"></i>
                  {{else}} <i class="fas fa-toggle-off"></i>
                  {{/if}}
                </a>
                <a data-type="copy" title="{{localize 'BABONUS.TITLES.COPY_THIS'}}">
                  <i class="fas fa-copy"></i>
                </a>
                <a data-type="edit" title="{{localize 'BABONUS.TITLES.EDIT_THIS'}}">
                  <i class="fas fa-cog"></i>
                </a>
                <a data-type="delete" title="{{localize 'BABONUS.TITLES.DELETE_THIS'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
              <div class="identifier">
                {{bonus.identifier}}
              </div>
            </div>
          </div>
          <div class="description">
            {{bonus.description}}
          </div>
          <hr class="divider">
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</form>
