<div class="tab scrollable {{tabs.description.cssClass}}" data-tab="description" data-group="main">
  {{#with fields.description}}
  {{formGroup field value=value enriched=enriched height=height button=true toggled=true localize=true}}
  {{/with}}
</div>
