<div class="tab scrollable {{tabs.description.cssClass}}" data-tab="description" data-group="main">
  <fieldset>
    <legend>{{fields.description.field.label}}</legend>
    {{formGroup fields.img.field value=fields.img.value}}

    {{#with fields.description}}
    {{formGroup field value=value enriched=enriched height=height button=true toggled=true}}
    {{/with}}
  </fieldset>
</div>
