<div class="header name-stacked">
  <img src="{{bonus.img}}" data-edit="img" alt="{{bonus.name}}">
  <input class="title" type="text" name="name" value="{{bonus.name}}" placeholder="{{localize 'Name'}}">
</div>
