<div class="tab scrollable {{tabs.configuration.cssClass}}" data-tab="configuration" data-group="main">
  {{#unless filters.length}}
  <p class="notification info">{{localize "BABONUS.CurrentFiltersTooltip"}}</p>
  {{/unless}}
  {{#each filters}} {{{this}}} {{/each}}
</div>
