<div class="tab scrollable {{tabs.configuration.cssClass}}" data-tab="configuration" data-group="main">
  {{#unless filters}}
  <p class="notification info">{{localize "BABONUS.CurrentFiltersTooltip"}}</p>
  {{/unless}}
  {{{filters}}}
</div>
