<div class="tab scrollable {{context.tabs.description.cssClass}}" data-tab="description" data-group="main">
  <div class="description">
    <ol class="properties">
      <h4 class="header">{{localize "DND5E.Properties"}}</h4>
      {{#each context.labels}}
      <li class="property">{{this}}</li>
      {{/each}}
    </ol>
    {{#with context.description}}
    {{formInput field value=value enriched=enriched height=height button=true toggled=true}}
    {{/with}}
  </div>
</div>
