<div class="tab scrollable {{context.tabs.description.cssClass}}" data-tab="description" data-group="main">
  {{#with context.description}}
  {{formGroup field value=value enriched=enriched height=height button=true toggled=true}}
  {{/with}}
</div>
