/* GENERAL FEATURES */
.babonus .locked a {
  color: gray;
}
.babonus .note {
  font-style: italic;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(134, 134, 134, 0.322);
}
/* Babonus Editor Application */
.babonus.builder {
  min-height: 700px;
  min-width: 700px;
}
.babonus.builder .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
}
.babonus.builder h1.otters {
  text-align: center;
  font-size: 55px;
  border-bottom: none;
  font-family: "Modesto Condensed";
}
.babonus.builder h1.otters [data-action="otter-rainbow"] {
  transform: scaleX(-1);
  transition: 0.5s;
}
.babonus.builder .pages {
  overflow-y: hidden;
  flex: 1;
  display: flex;
  height: 100%;
  gap: 10px;
}
.babonus.builder .pages .header {
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  padding-left: 0.5em;
  border-radius: 4px;
}
.babonus.builder .pages .select-type,
.babonus.builder .pages .current-bonuses {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden auto;
  flex-direction: column;
}
.babonus.builder .pages .select-type .types {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 35px;
  justify-content: space-evenly;
}
.babonus.builder .pages .select-type .types a {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
.babonus.builder .pages .select-type .types a > i {
  place-self: center;
  font-size: 60px;
}
.babonus.builder .pages .current-bonuses .bonuses {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 5px 5px 0;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus {
  border-bottom: 2px groove;
  padding: 0.5em 0;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header {
  display: grid;
  grid-template-columns: 1fr 0fr;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .functions {
  display: flex;
  justify-content: space-evenly;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label {
  text-align: center;
  font-size: 25px;
  font-family: 'Modesto Condensed';
  margin-bottom: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15em;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label.disabled {
  text-decoration: line-through;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label .fa-solid {
  font-size: 18px;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header [data-action="current-id"] {
  color: gray;
  font-size: 12px;
  font-family: monospace;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .description {
  font-style: italic;
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgba(181, 179, 164, 0.5);
  user-select: text;
  max-height: fit-content;
  overflow: hidden;
  opacity: 1;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus.collapsed .description {
  display: none;
}

/* KEY DIALOGS TABLES */
.babonus.keys-dialog {
  min-width: 300px;
  min-height: 400px;
}
.babonus.keys-dialog .dialog-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.babonus.keys-dialog .dialog-buttons {
  flex: 0;
}
.babonus.keys-dialog table {
  height: 100%;
}
.babonus.keys-dialog tbody {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.babonus.keys-dialog tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.babonus.keys-dialog table td {
  display: flex;
  align-items: center;
}
.babonus.keys-dialog td img {
  height: 25px;
  border: none;
}
.babonus.keys-dialog td > * {
  flex: 1;
}
.babonus.keys-dialog td:first-child > * {
  padding-left: 1em;
  justify-content: left;
  flex-direction: row;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.babonus.keys-dialog td:not(:first-child) {
  text-align: center;
}

/* ROLL CONFIGURATION OPTIONALS */
.babonus.optionals {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px inset;
  border-radius: 0.5em;
  margin-bottom: 1em;
  max-height: 450px;
  overflow-y: auto;
}
.babonus.optionals .optional {
  display: grid;
  gap: 0.5em;
}
.babonus.optionals .optional:not(:last-child) {
  border-bottom: 2px groove;
  padding-bottom: 0.5em;
}
.babonus.optionals .optional button {
  display: flex;
  padding: 3px;
  justify-content: center;
}
.babonus.optionals .optional.active button {
  background: inherit;
  border: none;
  box-shadow: none;
  pointer-events: none;
}
.babonus.optionals .optional.active button > i:before {
  content: "\f00c";
}
.babonus.optionals .optional.active .consumption {
  pointer-events: none;
}
.babonus.optionals .optional .bonus-text .name {
  font-weight: bold;
  font-style: italic;
}
.babonus.optionals .optional .consumption {
  display: flex;
  align-items: center;
}
.babonus.optionals .optional .consumption select {
  flex: 1;
}
.babonus.optionals .optional.active .consumption > * {
  color: gray;
}

/* OVERVIEW OF BONUSES */
.babonus.overview table :is(td, th) {
  text-align: center;
}

/* BABONUS SHEET */
.babonus.sheet {
  height: auto;
  min-width: 500px;
  min-height: 600px;
}
.babonus.sheet form {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.babonus.sheet .header {
  display: flex;
  padding: 0 5px;
}
.babonus.sheet .header img {
  flex: none;
  width: 60px;
  height: 60px;
}
.babonus.sheet .header input {
  flex: 1;
  height: 40px;
  margin: 10px 5px;
  font-family: "Modesto Condensed";
  font-size: 32px;
}
.babonus.sheet nav {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
}
.babonus.sheet nav .item {
  font-family: "Modesto Condensed";
  font-size: 22px;
  flex: none;
  border-bottom: 3px solid #b5b3a4;
}
.babonus.sheet nav .item.active {
  border-bottom: 3px solid #44191A;
}
.babonus.sheet .document-tabs {
  flex: 1;
  overflow: hidden;
}
.babonus.sheet .document-tabs .tab {
  padding: 5px;
  overflow: hidden auto;
}
.babonus.sheet .document-tabs .tab.active {
  height: 100%;
}
.babonus.sheet .description {
  display: flex;
  height: 100%;
  gap: 1em;
}
.babonus.sheet .description .properties {
  width: 8.5em;
  list-style: none;
  margin: 1em 0;
  padding: 0 0.5em 0 0;
  border-right: 2px groove;
}
.babonus.sheet .description .properties .header {
  font-weight: bold;
  color: #4b4a44;
  margin: 0;
}
.babonus.sheet .description .properties .property {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.babonus.sheet .description .editor {
  flex: 1;
  margin: 5px 0;
}
.babonus.sheet .form-header {
  font-family: "Modesto Condensed";
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}
.babonus.sheet form .form-group .form-fields {
  flex-wrap: nowrap;
}
.babonus.sheet form .form-group .form-fields > * {
  margin-right: 0;
}
.babonus.sheet form .form-group .form-fields input[type="text"],
.babonus.sheet form .form-group .form-fields input[type="number"],
.babonus.sheet form .form-group .form-fields select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.babonus.sheet form .form-group .form-fields select {
  flex: 0;
}
.babonus.sheet form .form-group .form-fields:not(:has(.checkboxes, [type=text], [type=number], [type=range])) select {
  flex: 1;
}
.babonus.sheet form .form-group .form-fields textarea {
  resize: vertical;
  min-height: calc(10px + var(--form-field-height));
  height: var(--form-field-height);
  overflow-y: hidden;
}
.babonus.sheet form .form-group .form-fields .sep:last-child {
  width: 75px;
  max-width: 75px;
  text-align: center;
}
.babonus.sheet form .form-group .form-fields .range-value {
  flex: 0 1 48px;
}
.babonus.sheet form .form-group .form-fields .range-value:after {
  content: "%";
}
.babonus.sheet form .form-group .form-fields [data-action="keys-dialog"] {
  width: 100px;
  max-width: 100px;
  height: 26px;
}
.babonus.sheet form .form-group .label {
  flex: 1.5;
  white-space: nowrap;
}
.babonus.sheet form .form-group .form-fields button:disabled {
  color: #4b4a44;
  cursor: default;
}
.babonus.sheet form .form-group [data-action="delete-filter"] {
  flex: none;
  padding-left: 0.5em;
}
.babonus.sheet form .form-group .form-fields .checkboxes {
  display: flex;
  overflow-x: auto;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.babonus.sheet form .form-group .form-fields .checkboxes [type="checkbox"] {
  display: none !important;
}
.babonus.sheet form .form-group .form-fields .checkboxes .check {
  font-weight: bold;
  border: 2px groove gray;
  border-radius: 4px;
  padding: 0 0.4em;
  text-transform: uppercase;
}
.babonus.sheet form .form-group .form-fields .checkboxes [type="checkbox"]:checked ~ .check {
  border: 2px groove #ff00006e;
  box-shadow: 0 0 4px darkred;
  background-color: #ff000066;
}
.babonus.sheet form .form-group .form-fields .checkboxes [type="checkbox"] ~ .check:hover {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}
.babonus.sheet [data-tab="picker"] {
  overflow: hidden auto;
}
.babonus.sheet .filter {
  padding-bottom: 0.5em;
}
.babonus.sheet .filter .filter-header {
  font-family: 'Modesto Condensed';
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  font-size: 24px;
  border-bottom: 2px groove rgba(139, 27, 27, 0.733)
}
.babonus.sheet .filter .filter-description {
  padding: 0 0.5em;
}
