/* Babonus Editor Application */
.babonus h1 {
  text-align: center;
  font-size: 55px;
  border-bottom: none;
  font-family: "Modesto Condensed";
}

.babonus h1 i:first-child {
  transform: scaleX(-1);
  transition: 0.5s;
}

.babonus.uneditable a {
  color: gray;
}

.babonus .components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 1em;
}

.babonus .components .utils {
  padding-top: 1em;
  margin: 0.25em;
}

.babonus [data-hide-input="true"] > input {
  visibility: hidden;
  position: absolute;
}

.babonus span.checkboxes-check {
  font-weight: bold;
  border: 2px groove gray;
  border-radius: 4px;
  padding: 0 0.4em;
  transition: inherit;
}

.babonus .checkboxes > .sep > :checked ~ span.checkboxes-check {
  border: 2px groove #ff00006e;
  box-shadow: 0 0 4px darkred;
  background-color: #ff000066;
}

.babonus .checkboxes > .sep > :hover ~ span.checkboxes-check {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

.babonus div.checkboxes {
  justify-content: space-evenly;
  display: flex;
}

.babonus .form-fields.checkboxes label.sep {
  padding: 0;
  transition: 0.15s;
}

.babonus .components header {
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 0.5em;
  border-radius: 4px;
}

.babonus .left-side .label {
  flex: 1;
  font-weight: bolder;
}

.babonus .left-side header.aura-config {
  display: flex;
  justify-content: space-between;
}

.babonus a[data-type="add-filter"],
.babonus select[name="target"] ~ a,
.babonus .available-filters .filter-add {
  margin: 0 5px;
  flex: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.babonus .right-side .bonuses,
.babonus .left-side .targets {
  overflow-y: auto;
  max-height: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.babonus .left-side .inputs {
  overflow-y: auto;
  max-height: 730px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.babonus .right-side .filters {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr 0.6fr;
  max-height: 730px;
  padding-bottom: 1em;
}

.babonus .right-side .bonuses .bonus:first-child {
  margin-top: 1em;
}

.babonus .right-side .bonuses .bonus .header {
  display: grid;
  grid-template-columns: 1fr 0fr;
  padding: 0 1em 0 0;
}

.babonus .right-side .bonuses .bonus .header .label {
  text-align: center;
  line-height: normal;
  font-size: 25px;
  align-self: start;
  font-family: 'Modesto Condensed';
  cursor: pointer;
  margin-top: 0.25em;
}

.babonus .right-side .bonuses .bonus .header .label:hover {
  text-shadow: 0 0 8px red;
}

.babonus .right-side .bonuses .bonus .header .label.disabled {
  text-decoration: line-through;
}

.babonus .right-side .bonuses .bonus .header .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.babonus .right-side .bonuses .bonus .header .details .functions {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  justify-items: center;
}

.babonus .right-side .bonuses .bonus .header .details .identifier {
  color: gray;
  user-select: text;
  font-size: 12px;
  font-family: monospace;
}

.babonus .right-side .bonuses .bonus .description .content {
  font-style: italic;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: rgba(181, 179, 164, 0.5);
  user-select: text;
  max-height: fit-content;
  overflow: hidden;
  opacity: 1;
}

.babonus .right-side .bonuses .bonus.collapsed .description .content {
  display: none;
}

.babonus .left-side .inputs .filters select {
  flex: 0;
  min-width: fit-content;
}

.babonus .left-side .inputs select {
  height: calc(var(--form-field-height));
}

.babonus .form-group .form-fields button.babonus-keys {
  min-width: 100px;
  flex: 0;
  box-shadow: none;
}

.babonus .form-group .form-fields button.babonus-keys:hover {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

.babonus .utils-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5em;
}

.babonus .right-side .details .functions a {
  width: 25px;
  padding: 3px;
  text-align: center;
}

.babonus.locked .right-side .details .functions a {
  pointer-events: none;
}

.babonus .bonuses .bonus:last-child hr {
  display: none;
}

.babonus .warning.active {
  opacity: 1;
}

.babonus .warning {
  transition: 0.15s;
  opacity: 0;
}

.babonus .select-target .targets {
  justify-content: space-evenly;
  font-size: 35px;
}

.babonus .select-target .targets a {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.babonus .select-target .targets a > i {
  place-self: center;
  font-size: 60px;
}

.babonus .target-type {
  font-size: 30px;
  text-align: center;
  margin: 0.4em;
}

.babonus .target-type-header {
  font-size: 16px;
}

/* KEY DIALOGS TABLES */
table.babonus {
  overflow: hidden;
  display: grid;
}

table.babonus tbody {
  max-height: 525px;
  overflow: auto;
}

table.babonus.two-col tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

table.babonus.three-col tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

table.babonus td img {
  height: 25px;
  border: none;
}

table.babonus td:first-child {
  padding-left: 1em;
  justify-content: left;
  flex-direction: row;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

table.babonus td:not(:first-child) {
  text-align: center;
}

/* FILTER PICKER */
.babonus .filter-picker .filter {
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d d";
  grid-template-columns: 1fr 0fr;
  margin-bottom: 1em;
}

.babonus .filter-picker .filter-header {
  font-size: 20px;
  text-align: left;
  padding-left: 0.5em;
  grid-area: a;
  margin-bottom: 0;
}

.babonus .filter-picker .filter-description {
  padding: 0 0.5em;
  grid-area: c;
}

.babonus .filter-picker .filter-requirements {
  font-style: italic;
  padding: 0.5em 1em;
  font-size: 12px;
  color: #523232;
  grid-area: d;
}

.babonus .filter-picker .filter-add {
  grid-area: b;
}

.babonus .available-filters,
.babonus .unavailable-filters {
  overflow-y: auto;
}

.babonus .form-group a.filter-deletion {
  flex: 0;
  padding: 0 0.2em 0 0.5em;
}

.babonus input[name="id"] {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}

.babonus .right-side .filter-picker header {
  margin-bottom: 0.5em;
}

.babonus .left-side textarea {
  resize: vertical;
  min-height: var(--form-field-height);
  height: var(--form-field-height);
  overflow-y: hidden;
}

/* Consumption App */
.babonus.consumption-app label {
  font-weight: bold;
  white-space: nowrap;
}

/* Roll Configuration Optionals */
.babonus-optionals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px inset;
  border-radius: 1em;
  margin-bottom: 1em;
}

.babonus-optionals .optional {
  display: grid;
  grid-template-columns: 8fr 2fr;
  min-width: 100%;
  min-height: var(--form-field-height);
  grid-template-areas:
    "a b"
    "c c";
  gap: 0.5em;
}

.babonus-optionals .optional:not(:last-child) {
  border-bottom: 2px groove;
  padding-bottom: 0.5em;
}

.babonus-optionals .optional.active {
  pointer-events: none;
}

.babonus-optionals .optional .add {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}

.babonus-optionals .optional.active .add > i:before {
  content: "\f00c";
}

.babonus-optionals .optional.active .consumption {
  display: none;
}

.babonus-optionals .bonus-text {
  line-height: 18px;
  align-self: center;
}

.babonus-optionals .bonus-text .name {
  font-weight: bold;
  font-style: italic;
}

.babonus-optionals .consumption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: c;
}

.babonus-optionals .consumption > :is(label, select) {
  flex: 1;
}

.babonus-optionals .consumption > label {
  font-weight: bold;
}
