/* Babonus Editor Application */
.babonus.builder.app.window-app {
  min-height: 700px;
  min-width: 700px;
}

.babonus.builder.app.window-app > .window-content {
  overflow-y: hidden;
}

.babonus.builder form.babonus {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.babonus.builder h1.otters {
  text-align: center;
  font-size: 55px;
  border-bottom: none;
  font-family: "Modesto Condensed";
}

.babonus.builder h1.otters [data-action="otter-rainbow"] {
  transform: scaleX(-1);
  transition: 0.5s;
}

.babonus.builder .components {
  overflow-y: hidden;
  flex: 1;
  display: flex;
  height: 100%;
}

/* LEFT SIDE */
.babonus.builder .left-side {
  overflow-y: hidden;
  display: flex;
  flex: 1;
  height: 100%;
}

.babonus.builder .left-side .page {
  padding-right: 0.3em;
}

/* LEFT SIDE - TYPE SELECTOR */
.babonus.builder .left-side .select-type {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.babonus.builder .left-side .select-type .types {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 35px;
  justify-content: space-evenly;
}

.babonus.builder .select-type .types a {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.babonus.builder .select-type .types a > i {
  place-self: center;
  font-size: 60px;
}

/* LEFT SIDE - BUILDER */
.babonus.builder .left-side .inputs {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.babonus.builder .left-side .bonus-config {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}

/* LEFT SIDE - BUILDER - REQUIRED FIELDS */
.babonus.builder .left-side .bonus-required {}

.babonus.builder .babonus-type {
  font-size: 30px;
  text-align: center;
  margin: 0.4em;
}

.babonus.builder .babonus-type-header {
  font-size: 16px;
}

.babonus.builder input[name="id"] {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}

.babonus.builder .left-side textarea {
  resize: vertical;
  min-height: calc(10px + var(--form-field-height));
  height: var(--form-field-height);
  overflow-y: hidden;
}

/* LEFT SIDE - BUILDER - BONUS FIELDS */
.babonus.builder .left-side .bonus-inputs {}

/* LEFT SIDE - BUILDER - FILTERS */
.babonus.builder .left-side .bonus-filters {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.babonus.builder .bonus-filters .form-group:first-child {
  margin-top: 2px;
}

.babonus.builder .bonus-filters .form-group {
  margin: 1.5px 0;
}

/* LEFT SIDE - BUILDER - FILTERS - COMPONENTS */

/* delete filter anchors */
.babonus.builder .form-group [data-action="delete-filter"] {
  flex: 0;
  padding: 0 0.2em 0 0.5em;
}

/* hidden checkboxes */
.babonus.builder .checkboxes {
  display: flex;
  overflow-x: auto;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.babonus.builder .checkboxes [type="checkbox"] {
  display: none !important;
}

.babonus.builder .checkboxes .check {
  font-weight: bold;
  border: 2px groove gray;
  border-radius: 4px;
  padding: 0 0.4em;
}

.babonus.builder .checkboxes [type="checkbox"]:checked ~ .check {
  border: 2px groove #ff00006e;
  box-shadow: 0 0 4px darkred;
  background-color: #ff000066;
}

.babonus.builder .checkboxes [type="checkbox"] ~ .check:hover {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

/* LEFT SIDE - BUILDER - UTIL BUTTONS */
.babonus.builder .components .utils {
  margin: 0.25em;
}

.babonus.builder .warning:not(.active) {
  display: none;
}

.babonus.builder .utils-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5em;
}

/* RIGHT SIDE */
.babonus.builder .right-side {
  overflow-y: hidden;
  display: flex;
  flex: 1;
  height: 100%;
}

.babonus.builder .right-side .page {
  padding-left: 0.3em;
}

/* RIGHT SIDE - CURRENT BONUSES */
.babonus.builder .right-side .current-bonuses {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.babonus.builder .right-side .bonuses {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em 0;
}

.babonus.builder .right-side .bonuses .header {
  display: grid;
  grid-template-columns: 1fr 0fr;
  padding: 0 1em 0 0;
}

.babonus.builder .right-side .bonuses .label {
  text-align: center;
  font-size: 25px;
  font-family: 'Modesto Condensed';
  margin-top: 0.25em;
}

.babonus.builder .right-side .bonuses .label.disabled {
  text-decoration: line-through;
}

/* RIGHT SIDE - CURRENT BONUSES - FUNCTIONS */
.babonus.builder .right-side .bonuses .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.babonus.builder .right-side .bonuses .functions {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  justify-items: center;
}

.babonus.builder .right-side .details .functions a {
  width: 25px;
  padding: 3px;
  text-align: center;
}

.babonus.builder .right-side .details .functions a.unavailable {
  cursor: revert;
  color: darkgray;
}

.babonus.builder .right-side .details .functions a.unavailable:hover {
  text-shadow: none;
}

.babonus.builder .right-side .bonuses [data-action="current-id"] {
  color: gray;
  font-size: 12px;
  font-family: monospace;
}

/* RIGHT SIDE - CURRENT BONUSES - DESCRIPTION */
.babonus.builder .right-side .bonus .content {
  font-style: italic;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: rgba(181, 179, 164, 0.5);
  user-select: text;
  max-height: fit-content;
  overflow: hidden;
  opacity: 1;
}

.babonus.builder .right-side .bonus.collapsed .content {
  display: none;
}

/* RIGHT SIDE - FILTER PICKER */
.babonus.builder .right-side .filter-picker {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.babonus.builder .right-side .unavailable-filters {
  margin-bottom: 0.3em;
}

/* RIGHT SIDE - FITLER PICKER - FILTER */
.babonus.builder .filter-picker .filter {
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d d";
  grid-template-columns: 1fr 0fr;
  margin: 0.5em 0;
}

.babonus.builder .filter.hidden {
  display: none !important;
}

.babonus.builder .filter-picker .filter-header {
  font-size: 22px;
  text-align: left;
  padding-left: 0.5em;
  grid-area: a;
  margin-bottom: 0;
  border: none;
  font-family: 'Modesto Condensed';
}

.babonus.builder .filter-picker .filter-description {
  padding: 0 0.5em;
  grid-area: c;
}

.babonus.builder .filter-picker .filter-requirements {
  font-style: italic;
  padding: 0.5em 1em;
  font-size: 12px;
  color: #523232;
  grid-area: d;
}

.babonus.builder .filter > [data-action="add-filter"] {
  margin: 0 5px;
  flex: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* GENERAL */
.babonus.builder .components header {
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  padding-left: 0.5em;
  border-radius: 4px;
}

.babonus.builder header + :is(.bonus-filters, .available-filters, .unavailable-filters) {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: 300ms;
}

.babonus.builder header + .available-filters {
  flex: 3;
}

.babonus.builder header + .unavailable-filters {
  flex: 2;
}

.babonus.builder header.collapsed + * {
  flex: 0 !important;
}

.babonus.builder header [data-action="section-collapse"] {
  float: right;
  margin-right: 1em;
}

.babonus.builder header.collapsed [data-action="section-collapse"] i::before {
  content: "\f077";
}

.babonus .label {
  flex: 1;
  font-weight: bold;
  white-space: nowrap;
}

.babonus .sep {
  padding: 0 5px;
}

.babonus .locked a {
  color: gray;
}

.babonus form .form-fields :is(input, select):not([type="checkbox"]) {
  height: calc(var(--form-field-height));
}

/* keys dialog buttons */
.babonus [data-action="keys-dialog"] {
  min-width: 100px;
  box-shadow: none;
}

.babonus [data-action="keys-dialog"]:hover {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

/* selects */
.babonus form .form-group .form-fields select:not(:only-child) {
  flex: 0;
  min-width: fit-content;
}

/* KEY DIALOGS TABLES */
.babonus.keys-dialog {
  min-width: 300px;
  min-height: 400px;
}

.babonus.keys-dialog .dialog-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.babonus.keys-dialog .dialog-buttons {
  flex: 0;
}

.babonus.keys-dialog table {
  height: 100%;
}

.babonus.keys-dialog tbody {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.babonus.keys-dialog tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.babonus.keys-dialog table td {
  display: flex;
  align-items: center;
}

.babonus.keys-dialog td img {
  height: 25px;
  border: none;
}

.babonus.keys-dialog td > * {
  flex: 1;
}

.babonus.keys-dialog td:first-child > * {
  padding-left: 1em;
  justify-content: left;
  flex-direction: row;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.babonus.keys-dialog td:not(:first-child) {
  text-align: center;
}

/* ROLL CONFIGURATION OPTIONALS */
.babonus.optionals {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px inset;
  border-radius: 0.5em;
  margin-bottom: 1em;
  max-height: 450px;
  overflow-y: auto;
}

.babonus.optionals .optional {
  display: grid;
  gap: 0.5em;
}

.babonus.optionals .optional:not(:last-child) {
  border-bottom: 2px groove;
  padding-bottom: 0.5em;
}

.babonus.optionals .optional button {
  display: flex;
  padding: 3px;
  justify-content: center;
}

.babonus.optionals .optional.active button {
  background: inherit;
  border: none;
  box-shadow: none;
  pointer-events: none;
}

.babonus.optionals .optional.active button > i:before {
  content: "\f00c";
}

.babonus.optionals .optional.active .consumption {
  pointer-events: none;
}

.babonus.optionals .optional .bonus-text .name {
  font-weight: bold;
  font-style: italic;
}

.babonus.optionals .optional .consumption {
  display: flex;
  align-items: center;
}

.babonus.optionals .optional .consumption select {
  flex: 1;
}

.babonus.optionals .optional.active .consumption > * {
  color: gray;
}

/* OVERVIEW OF BONUSES */
.babonus.overview table :is(td, th) {
  text-align: center;
}
