.babonus h1 {
  text-align: center;
  font-size: 55px;
  border-bottom: none;
  font-family: "Modesto Condensed";
}

.babonus .components {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-around;
}

.babonus .components .utils {
  padding-top: 1em;
  margin: 0.25em;
}

.babonus [data-hide-input="true"]>input {
  visibility: hidden;
  position: absolute;
}

.babonus span.checkboxes-check {
  font-weight: bold;
  border: 2px groove gray;
  border-radius: 4px;
  padding: 0 0.4em;
  transition: inherit;
}

.babonus .checkboxes>.sep> :is(:checked, :hover)~span.checkboxes-check {
  border: 2px groove #ff00006e;
  box-shadow: 0 0 4px red;
  background-color: #ff000066;
}

.babonus div.checkboxes {
  justify-content: space-evenly;
  display: flex;
}

.babonus .form-fields.checkboxes label.sep {
  padding: 0;
  transition: 0.3s;
}

.babonus .form-fields.checkboxes label.sep:hover {
  transform: scale(1.15);
}

.babonus .components header {
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 0.5em;
  border-radius: 2px;
}

.babonus .left-side .label {
  flex: 1;
  font-weight: bolder;
}

/* headers that have a right-side input */
.babonus .left-side header.aura-config {
  display: flex;
  justify-content: space-between;
}

.babonus a[data-type="add-filter"],
.babonus select[name="target"]~a,
.babonus .available-filters .filter-add {
  margin: 0 5px;
  flex: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.babonus .right-side .bonuses,
.babonus .left-side .targets {
  overflow-y: auto;
  max-height: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.babonus .right-side .filters,
.babonus .left-side .inputs {
  overflow-y: auto;
  max-height: 730px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.babonus .right-side .bonuses .bonus:first-child {
  margin-top: 1em;
}

.babonus .right-side .bonuses .bonus .header {
  display: grid;
  grid-template-columns: 75% 25%;
}

.babonus .right-side .bonuses .bonus .header .label {
  text-align: center;
  line-height: normal;
  font-size: 22px;
  align-self: center;
  font-family: 'Modesto Condensed';
  cursor: pointer;
}

.babonus .right-side .bonuses .bonus .header .label:hover {
  text-shadow: 0 0 8px red;
}

.babonus .right-side .bonuses .bonus .header .label.disabled {
  text-decoration: line-through;
}

.babonus .right-side .bonuses .bonus .header .details {
  text-align: center;
}

.babonus .right-side .bonuses .bonus .header .details .identifier {
  font-style: italic;
  color: gray;
  white-space: nowrap;
  overflow-x: hidden;
  user-select: text;
}

.babonus .right-side .bonuses .bonus .description .content {
  font-style: italic;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  background-color: rgba(181, 179, 164, 0.5);
  user-select: text;
  max-height: fit-content;
  overflow: hidden;
  opacity: 1;
}

.babonus .right-side .bonuses .bonus:not(.collapsed) .description .content {
  transition: 0.3s;
}

.babonus .right-side .bonuses .bonus.collapsed .description .content {
  max-height: 0;
  opacity: 0;
  padding: 0 0.75em;
}

.babonus .left-side .inputs .filters select {
  flex: 0;
  min-width: fit-content;
}

.babonus .left-side .inputs select {
  height: calc(var(--form-field-height));
}

.babonus .left-side .inputs .filters input[type="checkbox"]:focus {
  box-shadow: 0 0 5px red;
  filter: grayscale(0);
  accent-color: #454545;
}

.babonus .form-group .form-fields button.babonus-keys {
  min-width: 100px;
  flex: 0;
}

.babonus .utils-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5em;
}

form.babonus.editMode [name='identifier'],
form.babonus.editMode [name='target'] {
  pointer-events: none;
  color: #AAA;
}

form.babonus .right-side .details a {
  text-align: end;
  width: fit-content;
  max-width: fit-content;
  padding: 3px;
}

form.babonus.locked .right-side .details a {
  pointer-events: none;
}

.babonus .bonuses .bonus:last-child hr {
  display: none;
}

/* WARNING */
#babonus-warning {
  transition: 0.3s;
  opacity: 0;
}

#babonus-warning.active {
  opacity: 1;
}

/* KEY DIALOGS TABLES */
table.babonus {
  overflow: hidden;
  display: grid;
}

table.babonus tbody {
  max-height: 525px;
  overflow: auto;
}

table.babonus.two-col tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

table.babonus.three-col tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

table.babonus td img {
  height: 25px;
  border: none;
}

table.babonus td:first-child {
  padding-left: 1em;
  justify-content: left;
  flex-direction: row;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

table.babonus td:not(:first-child) {
  text-align: center;
}

/* REWORK OF INTERFACE */
.babonus .select-target .targets {
  justify-content: space-evenly;
  font-size: 35px;
}

.babonus .select-target .targets a {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.babonus .select-target .targets a>i {
  place-self: center;
  font-size: 60px;
}

.babonus .target-type {
  font-size: 30px;
  text-align: center;
  margin: 0.4em;
}

.babonus .target-type-header {
  font-size: 16px;
}

/* FILTER PICKER */
.babonus .filter-picker .filter {
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d d";
  grid-template-columns: 1fr 0fr;
  margin-bottom: 1em;
}

.babonus .filter-picker .filter-header {
  font-size: 20px;
  text-align: left;
  padding-left: 0.5em;
  grid-area: a;
  margin-bottom: 0;
}

.babonus .filter-picker .filter-description {
  padding: 0 0.5em;
  grid-area: c;
}

.babonus .filter-picker .filter-requirements {
  font-style: italic;
  padding: 0.5em 1em;
  font-size: 12px;
  color: #523232;
  grid-area: d;
}

.babonus .filter-picker .filter-add {
  grid-area: b;
}

.babonus .available-filters {
  height: 350px;
  overflow-y: auto;
}

.babonus .unavailable-filters {
  height: 282px;
  overflow-y: auto;
}

.babonus .form-group a.filter-deletion {
  flex: 0;
  padding: 0 0.2em 0 0.5em;
}

.babonus input[name="id"] {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}
