.babonus.keys-dialog {
  min-width: 300px;
  min-height: 400px;

  .dialog-content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 3px;

    & table {
      height: 100%;

      & tbody {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
      }

      & tr {
        display: grid;
        grid-template-columns: 2fr 1fr;

        &.category {
          font-weight: bold;
        }

        & td {
          display: flex;
          align-items: center;

          & > * {
            flex: 1;
          }

          & img {
            height: 25px;
            border: none;
          }

          &:first-child > * {
            padding-left: 1em;
            justify-content: left;
            flex-direction: row;
            display: flex;
            gap: 0.5em;
            align-items: center;
          }

          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    }
  }

  .dialog-buttons {
    flex: 0;
  }
}
