.babonus.keys-dialog {
  min-width: 400px;

  .dialog-content {

    .table {
      margin: 0;
      border-radius: 0;

      & header {
        display: grid;
        grid-template-columns: 2fr 3fr;

        .value, .state {
          flex: 1;
          border: none;
          font-size: 20px;
          margin: 10px auto;
          text-align: center;
        }
      }

      .body {
        max-height: 400px;
        overflow: hidden auto;

        .category { font-weight: bold; }

        .row {
          display: grid;
          grid-template-columns: 2fr 3fr;

          .value, .select {
            padding: 0;
            line-height: 2em;

            & img { height: 1.5em; border: none; }

            &.select {
              display: flex;
              align-items: center;
              gap: 1em;
              margin: 0 1em;
            }
          }
        }
      }
    }
  }
}
