.babonus.dnd5e2 {
  background:
    url(../../../systems/dnd5e/ui/texture-gray1.webp) no-repeat top left,
    url(../../../systems/dnd5e/ui/texture-gray2.webp) no-repeat bottom right,
    var(--dnd5e-color-parchment);
  border: 1px solid var(--dnd5e-color-gold);
}
.babonus.dnd5e2.minimized .header-button,
.babonus.dnd5e2 .header-button.configure-sheet {
  display: none;
}
.babonus.dnd5e2:not(.minimized) .window-header .window-title {
  visibility: hidden;
}
.babonus.dnd5e2 .window-header .window-title {
  color: initial;
}
.babonus.dnd5e2 .window-header {
  margin-left: 3px;
  margin-right: 3px;
}
.babonus.dnd5e2 .window-content {
  background: transparent;
  overflow: hidden;
  margin-left: 3px;
  margin-right: 3px;
}
.babonus.dnd5e2 input:disabled {
  border: gray;
}

.babonus h1.otters {
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex: none;
}
.babonus h1.otters .mirror {
  transform: scaleX(-1);
  transition: 0.5s;
}
.babonus h1.otters .name-stacked .title {
  font-size: 25px;
  border-bottom: 2px solid var(--dnd5e-color-gold);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0 0.5em;
}
.babonus h1.otters .name-stacked .subtitle {
  font-size: 14px;
}

.dnd5e2.sheet.actor.character form:is(.tab-babonus) .create-child {
  display: block;
}
.dnd5e2.create-document.babonus ol img {
  filter: invert(0);
}
