.dnd5e-theme-dark .babonus.dnd5e2 {
  --dnd5e-background-card: var(--dnd5e-color-card);

  & form select option, form select optgroup {
    background: inherit;
  }
}

.babonus.dnd5e2 {
  background:
    url(../../../systems/dnd5e/ui/texture1.webp) no-repeat top center / auto 770px,
    url(../../../systems/dnd5e/ui/texture2.webp) no-repeat bottom center / auto 704px,
    var(--dnd5e-color-parchment);
  border: 1px solid var(--dnd5e-color-gold);

  &.minimized .header-button,
  .header-button.configure-sheet {
    display: none;
  }

  &:not(.minimized) .window-header .window-title {
    visibility: hidden;
  }

  .window-header {
    margin-left: 3px;
    margin-right: 3px;

    .window-title {
      color: initial;
    }
  }

  .window-content {
    background: transparent;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
  }

  & input:disabled {
    border: gray;
  }

  &.create-document ol img {
    filter: invert(0);
  }
}

.babonus h1.otters {
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex: none;

  .mirror {
    transform: scaleX(-1);
    transition: 0.5s;
  }

  .name-stacked {
    .title {
      font-size: 25px;
      border-bottom: 2px solid var(--dnd5e-color-gold);
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin: 0 0.5em;
    }

    .subtitle {
      font-size: 14px;
    }
  }
}

.dnd5e-theme-dark .dnd5e2.sheet.actor.character h1.otters {
  color: var(--dnd5e-color-gold);
}

.dnd5e2.sheet.actor.character {
  & form.tab-babonus .create-child {
    display: block;
  }

  .tab.babonus {
    .items-section {
      .item { display: flex; }
      .bonus-source {
        width: 150px;
        border: none;

        &.item-detail {
          color: var(--color-text-dark-5);

          &.empty::after {
            content: "-";
            color: var(--color-text-light-6);
            font-weight: normal;
          }
        }
      }

      [data-action=contextMenu] {
        position: absolute;
        inset-block: 0;
        inset-inline-end: 0;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.babonus.content-link[data-link][data-uuid] {
  .fa-otter {
    transition: transform 200ms ease;
  }

  &:not(.enabled) .fa-otter {
    transform: rotate(180deg);
  }
}
