.babonus.sheet {
  max-height: 95%;

  .sheet-tabs.tabs .item {
    flex-direction: column;

    .fa-solid {
      font-size: 20px;
    }
  }

  .notification.info {
    margin: 0.5em 0;
    padding: 6px 8px;
  }

  .tab.scrollable {
    min-height: 400px;

    &[data-tab=bonuses] {
      padding-bottom: 5rem;
    }

    &[data-tab=configuration] {
      padding-bottom: 5rem;
    }

    &[data-tab=advanced] {
      padding-bottom: 5rem;
    }

    &[data-tab=filters] .scrollable {
      padding-bottom: 5rem;
    }
  }

  .modifiers.example {
    position: sticky;
    top: 0;
  }

  & fieldset:hover > .hint {
    color: var(--color-form-hint-hover);
  }

  /* Arbitrary Comparisons */
  & select[name^="filters.arbitraryComparisons"] {
    flex: 0;
    width: fit-content;
  }

  /* Custom Scripts */
  & textarea[name^="filters.customScripts"] {
    resize: vertical;
    min-height: calc(3rem + var(--form-field-height));
    overflow-y: hidden;
  }

  & [data-action="keysDialog"] {
    width: 100px;
    max-width: 100px;
    height: 26px;
  }

  & [data-action="deleteFilter"] {
    flex: none;
    padding-left: 0.5em;
  }

  .header.name-stacked {
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: calc(3px - 1rem);

    & img {
      flex: none;
      width: 60px;
      height: 60px;
    }

    & input {
      flex: 1;
      height: 40px;
      margin: 10px 5px;
      font-family: "Modesto Condensed";
      font-size: 32px;
    }

    .properties {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 3px;
      margin-top: 3px;

      .property {
        margin: 0;
        padding: 2px 4px;
        background: rgba(0, 0, 0, 0.05);
        border: 1px groove var(--color-fieldset-border);
        border-radius: 3px;
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  [data-tab=filters] {
    flex-direction: row;

    .toc {
      flex: 0 0 160px;
      list-style: none;
      padding: 0;

      & li {
        margin: 5px 0;
        border: 1px groove rgba(0, 0, 0, 0);
        border-radius: 3px;
        padding: 3px;

        &.viewed {
          border-color: var(--color-fieldset-border);
        }
      }
    }

    .picker .filter {
      margin-top: 1rem;
      cursor: pointer;
      transition: border-color 200ms ease;

      &:hover {
        border-color: var(--button-hover-background-color);
      }
    }
  }
}
