.babonus.sheet {
  max-height: 95%;

  .notification.info {
    margin: 0.5em 0;
    padding: 6px 8px;
  }

  .tab.scrollable {
    min-height: 300px;
  }

  /* Arbitrary Comparisons */
  & select[name^="filters.arbitraryComparisons"] {
    flex: 0;
    width: fit-content;
  }

  /* Custom Scripts */
  & textarea[name^="filters.customScripts"] {
    resize: vertical;
    min-height: calc(3rem + var(--form-field-height));
    overflow-y: hidden;
  }

  & [data-action="keysDialog"] {
    width: 100px;
    max-width: 100px;
    height: 26px;
  }

  & [data-action="deleteFilter"] {
    flex: none;
    padding-left: 0.5em;
  }

  .header.name-stacked {
    display: flex;
    padding: 0 5px;
    flex-direction: row;

    & img {
      flex: none;
      width: 60px;
      height: 60px;
    }

    & input {
      flex: 1;
      height: 40px;
      margin: 10px 5px;
      font-family: "Modesto Condensed";
      font-size: 32px;
    }
  }

  .description {
    display: flex;
    height: 100%;
    gap: 1em;

    .properties {
      width: 8.5em;
      list-style: none;
      margin: 1em 0;
      padding: 0 0.5em 0 0;
      border-right: 2px groove var(--color-fieldset-border);

      .header {
        font-weight: bold;
        font-family: "Modesto Condensed";
        margin: 0;
        font-size: 16px;
      }

      .property {
        margin: 3px 0;
        padding: 0 2px;
        background: rgba(0, 0, 0, 0.05);
        border: 2px groove var(--color-fieldset-border);
        text-align: center;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .editor {
      flex: 1;
      margin: 5px 0;
    }
  }

  .filter {
    padding-bottom: 0.5em;

    .filter-header {
      font-family: 'Modesto Condensed';
      display: flex;
      justify-content: space-between;
      padding: 0 0.5em;
      font-size: 24px;
      border-bottom: 2px groove rgba(139, 27, 27, 0.733);
      margin-bottom: 0.25em;
    }

    .filter-description {
      padding: 0 0.5em;
    }
  }
}
