.babonus.builder .locked a {
  color: gray;
}
.babonus.builder {
  min-height: 500px;
  min-width: 450px;
}
.babonus.builder .window-header {
  border: none;
  align-items: center;
}
.babonus.builder .window-content {
  overflow: hidden;
}
.babonus.builder h1.otters {
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex: none;
}
.babonus.builder h1.otters [data-action="otter-rainbow"] {
  transform: scaleX(-1);
  transition: 0.5s;
}
.babonus.builder .name-stacked .title {
  font-size: 25px;
  border-bottom: 2px solid var(--dnd5e-color-gold);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0 0.5em;
}
.babonus.builder .name-stacked .subtitle {
  font-size: 14px;
}
.babonus.builder .pages {
  overflow-y: hidden;
  flex: 1;
  display: flex;
  height: 100%;
  gap: 10px;
}
.babonus.builder .pages .header {
  height: 30px;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.1);
  padding-left: 0.5em;
  border-radius: 4px;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: var(--font-size-13);
  font-weight: bolder;
  line-height: 30px;
}
.babonus.builder .pages .select-type,
.babonus.builder .pages .current-bonuses {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.babonus.builder .pages .current-bonuses {
  flex: 1;
}
.babonus.builder .pages .select-type.hidden .types {}
.babonus.builder .pages .select-type.hidden .types a {
  grid-template-columns: 100%;
  padding: 0;
}
.babonus.builder .pages .select-type.hidden .types a > i {
  font-size: 40px;
}
.babonus.builder .pages .select-type.hidden .types .label {
  display: none;
}
.babonus.builder .pages .select-type .types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 26px;
  min-width: 120px;
  flex: 1;
  max-height: calc(75px * 6);
}
.babonus.builder .pages .select-type .types a {
  display: grid;
  grid-template-columns: 50px 3fr;
  align-items: center;
  padding-left: 10px;
}
.babonus.builder .pages .select-type .types a > i {
  place-self: center;
  font-size: 25px;
  transition: font-size 200ms;
}
.babonus.builder .pages .current-bonuses .bonuses {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: var(--dnd5e-color-gold) transparent;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus {
  border-bottom: 2px groove;
  padding: 0.5em 0;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header {
  display: grid;
  grid-template-columns: 1fr 0fr;
  margin-bottom: 10px;
  gap: 5px;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .functions {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label {
  text-align: center;
  font-size: 25px;
  font-family: 'Modesto Condensed';
  display: flex;
  justify-content: center;
  align-items: center;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label.disabled {
  text-decoration: line-through;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header .label .fa-solid {
  font-size: 18px;
  padding: 4px;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .bonus-header [data-action="current-id"] {
  color: gray;
  font-size: 12px;
  font-family: monospace;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus .description {
  font-style: italic;
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgba(181, 179, 164, 0.5);
  user-select: text;
  max-height: fit-content;
  overflow: hidden;
  opacity: 1;
}
.babonus.builder .pages .current-bonuses .bonuses .bonus.collapsed .description {
  display: none;
}
@keyframes rainbow {
  to { background-position: 0 -200% }
}
.babonus.builder .vomit {
  background: linear-gradient(rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%) 0 0/100% 200%;
  animation: rainbow 5000ms linear infinite;
}
